* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-inner {
    max-width: 1548px;
    padding: 0 25px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1650px;
    padding: 0 25px;
    margin: 0 auto;
}



ul li,
a {
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

}