* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "myfont";
    src: url("../font/HelveticaNowDisplay-Regular.woff") format('woff'),
        url("../font/HelveticaNowDisplay-Regular.woff2") format('woff2')
}

@font-face {
    font-family: "myfont";
    src: url("../font/HelveticaNowDisplay-Bold.woff") format('woff'),
        url("../font/HelveticaNowDisplay-Bold.woff2") format('woff2');
    font-weight: bold;
}


body {
    font-family: 'myfont';
}

.section-inner {
    max-width: 1548px;
    padding: 0 25px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1650px;
    padding: 0 25px;
    margin: 0 auto;
}



ul li,
a {
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
    border: none;
    font-size: 18px;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}
.loading{
    margin: 0 auto;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    height: auto !important;
    width: auto !important;
}
.loading svg{
    width: 64px;
    height: 64px;
    text-align: center;
    margin: 0 auto;
    left: 50%;
    position: relative;
    top: 50%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* .col-lg-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 0 15px;
} */