/*Session Banner*/
.hire-develop .section-banner {
    position: relative;
}

.hire-develop .section-banner .top-banner {
    opacity: 1;
    transform: translateZ(0);
}

.hire-develop .section-banner .top-banner .image {
    z-index: 0;
    height: 100vh;
    overflow: hidden;
}

.hire-develop .section-banner .top-banner .image picture {
    height: 100%;
    object-fit: cover;
    width: 100%;
    min-height: 460px;
}

.hire-develop .section-banner .top-banner .image picture img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    min-height: 460px;
}

.hire-develop .section-banner .banner-title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: left;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0 25px;
}

.hire-develop .section-banner .banner-title .title {
    margin-bottom: 22px;
    text-align: left;
    max-width: 750px;
    margin-left: 0;
}

.hire-develop .section-banner .banner-title .title span {
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    text-transform: capitalize;
    color: #FFCD06;
    font-family: 'myfont';
}

.hire-develop .section-banner .banner-title span p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    max-width: 625px;
    margin-left: 8px;
    text-transform: inherit;
    color: #fff;
}

.hire-develop .section-banner .banner-title .description a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.2s;
}

.hire-develop .section-banner .banner-title .description a:hover {
    color: #0056b3;
    text-decoration: underline;
    transition: all 0.2s;
}

/*End Session Banner*/



/*Session our develop*/
.hire-develop .section-our-developers {
    padding-top: 50px;
    padding-bottom: 59px;
}

.hire-develop .section-our-developers .item-inner {
    padding-bottom: 9rem;
    align-items: center;
}

.hire-develop .section-our-developers .item-inner:nth-child(even) {
    position: relative;
    padding-left: 62px;
}

.hire-develop .section-our-developers .item-inner:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 101px;
    left: 0;
    z-index: -1;
    right: 0;
    bottom: 83px;
    background: #FBFBFB;
    box-shadow: 0px 17px 39px rgb(0 0 0 / 5%);
    border-radius: 28px;
}

.hire-develop .section-our-developers .item-inner:last-child {
    padding-bottom: 0;
}

.hire-develop .section-our-developers .content-right h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 64px;
    text-transform: capitalize;
    color: #183B56;
    margin: 0 0 24px 0;
    font-family: 'myfont';
    margin-bottom: 33px;
}

.hire-develop .section-our-developers .content-right .description p {
    margin-bottom: 28px;
    padding-right: 10.7rem;
    font-family: 'myfont';
    color: #183B56;
}

.hire-develop .section-our-developers .caption {
    padding-right: 8rem;
    margin-top: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #183B56;
    font-family: 'myfont';
}

.hire-develop .section-our-developers .item-inner ul li {
    margin-left: 0;
    margin-bottom: 36px;
    list-style: none;
    padding-left: 60px;
    position: relative;
    line-height: 28px;
    color: #5A7184;
}

.hire-develop .section-our-developers .item-inner ul li::before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('https://onextdigital.com/wp-content/themes/ahtsolution/assets/images/frame11029.png');
    position: absolute;
    left: 0;
    top: -6px;
}

.hire-develop .section-our-developers .item-inner:nth-child(even) .image-feature .image img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 100%;
}

.hire-develop .section-our-developers .item-inner ol {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 45px;
}

.hire-develop .section-our-developers .item-inner ol li {
    list-style: none;
    color: #5A7184;
    margin-left: 0;
    align-items: center !important;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 20px;
    display: flex;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 61px;
    padding-right: 30px;
    -webkit-box-align: center !important;
    width: 33%;
    -webkit-box-flex: 0;
}

.hire-develop .section-our-developers .item-inner ol li::before {
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 28px;
    height: 28px;
    background-image: url('https://onextdigital.com/wp-content/themes/ahtsolution/assets/images/expand_right_double.png');
    position: absolute;
}

.hire-develop .section-our-developers .item-inner ol li::after {
    content: '';
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 10%);
    border-radius: 8px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/*End session our develop*/


/*Banner bottom*/
.hire-develop .section-bottom-hire {
    padding-bottom: 50px;
}

.hire-develop .section-bottom-hire .inner-block {
    text-align: left;
    background: #183B56;
    border-radius: 16px;
    padding: 35px 260px 52px;
    background-size: cover;
    background-position: center;
    padding-left: 132px;
}

.hire-develop .section-bottom-hire .inner-block h2 {
    text-align: left;
    color: #FFCD06;
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 64px;
    text-transform: capitalize;
    margin: 0 0 24px 0;
    font-family: 'myfont';
}

.hire-develop .section-bottom-hire .inner-block .description {
    text-align: left;
    color: #FFF;
    margin-bottom: 38px;
}

.hire-develop .section-bottom-hire .inner-block .button-link a {
    max-width: none;
    width: auto;
    background: #FFCD06;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid;
    text-decoration: none;
    transition: all .3s;
    line-height: 32px;
    color: #183B56;
    text-transform: capitalize;
    height: 55px;
    padding: 9px 30px;
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    margin: 0;
    opacity: 1;
    letter-spacing: 0.0333em;
    text-align: center;
}

/*End banner bottom*/


@media (max-width: 1400px) {
    .hire-develop .section-our-developers .image-feature .image img {
        max-width: 100%;
    }

    .hire-develop .section-our-developers .content-right h2 {
        font-size: 39px;
        line-height: 50px;
    }

    .hire-develop .section-our-developers .item-inner ol li {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 1200px) {
    .hire-develop .section-our-developers .content-right .description p {
        padding-right: 0;
    }

    .hire-develop .section-our-developers .item-inner ol li {
        width: 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .hire-develop .section-our-developers .item-inner ol {
        margin-right: 0;
    }

    .hire-develop .section-our-developers .caption {
        padding-right: 0;
    }

    .hire-develop .section-our-developers .item-inner:nth-child(even) {
        padding-left: 0px;
    }
}

@media (max-width: 767px) {
    .hire-develop .section-banner .banner-title .title span {
        font-size: 30px;
        line-height: 38px;
    }

    .hire-develop .section-banner .banner-title .description {
        font-size: 14px;
        line-height: 20px;
    }

    .hire-develop .section-our-developers .content-right h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .hire-develop .section-our-developers .content-right {
        margin-top: 40px;
    }

    .hire-develop .section-our-developers .content-right .description p {
        padding-right: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .hire-develop .section-our-developers .item-inner ul li {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 43px;
    }

    .hire-develop .section-our-developers .item-inner:nth-child(even) .image-feature {
        order: 0 !important;
    }

    .hire-develop .section-our-developers .item-inner {
        padding-bottom: 0;
    }

    .hire-develop .section-bottom-hire .inner-block {
        padding: 89px 15px;
    }

    .hire-develop .section-bottom-hire .inner-block h2 {
        text-align: center;
        margin-bottom: 8px;
        font-size: 28px;
        line-height: 36px;
    }

    .hire-develop .section-bottom-hire .inner-block .description p {
        text-align: center;
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 18px;
    }

    .hire-develop .section-bottom-hire .inner-block .button-link {
        text-align: center;
    }

    .hire-develop .section-bottom-hire .inner-block .button-link a {
        min-width: 220px;
        height: 48px;
        line-height: 20px;
        max-width: none;
        width: auto;
        padding: 14px 65px;
    }

    .hire-develop .section-our-developers .item-inner ul li::before {
        width: 34px;
        height: 34px;
        background-size: contain;
        top: -6px;
    }
}

@media (max-width: 490px) {
    .hire-develop .section-banner .banner-title .title span {
        font-size: 24px;
        line-height: 32px;
    }

    .hire-develop .section-our-developers .content-right h2 {
        font-size: 24px;
        line-height: 31px;
    }
}