.banner-main {
    width: 100%;
    height: 100%;
    background-color: #292A39;
}

.banner-main img {
    width: 100%;
    height: 100%;
}



/* _____section-about-main____ */
.section-about-main {
    background: #292A39;
    padding: 79px 0 1px;
}

.section-about-main .sub-heading {
    display: flex;
    margin-bottom: 71px;
    justify-content: center;
    font-family: 'myfont';
}

.section-about-main .sub-heading span {
    color: #FFCD06;
    background: rgba(255, 205, 6, 0.1);

}

.section-about-main .description,
.section-about-main .sub-content-second {
    max-width: 1032px;
    margin: 0 auto;
}

.section-about-main .description p,
.section-about-main .sub-content-second {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 28px;
}

.section-about-main .sub-content-second {
    font-weight: 700;
    text-transform: capitalize;
    color: #FFCD06;
    margin-bottom: 88px;
}

.section-about-main span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 145px;
    margin: 0 auto;
    border-radius: 100px;
}

/* _____section-about-main-----END____ */

/*_____ home-our-services______ */
.home-our-services {
    background-image: url(../img/bkg_services.png);
    padding: 80px 0 89px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.home-our-services .services-we-offer span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 145px;
    margin: 0 auto;
    border-radius: 100px;
}

.home-our-services .services-we-offer .sub-heading {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.home-our-services .services-we-offer .sub-heading span {
    color: #0149AB;
    background: rgba(1, 73, 171, 0.1);
}

.home-our-services h2 {
    margin-bottom: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 71px;
    text-transform: capitalize;
    margin: 0;
    letter-spacing: 0;
}

.home-our-services .description p {
    color: #183B56;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    max-width: 894px;
    margin: 0 auto;
}

.home-our-services .services-we-offer {
    position: relative;
    padding-bottom: 31px;
    margin-bottom: 61px;
}

.home-our-services .services-we-offer::after {
    content: '';
    width: 521px;
    height: 2px;
    background: #0149AB;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

/*_____ home-our-servicesEND______ */

/* ____home-our-services-list____ */
.home-our-services .container {
    max-width: 1240px;
    padding: 0 25px;
}

.home-our-services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.home-our-services-list .our-services-item {
    margin-bottom: 41px;
    overflow-y: hidden;
    position: relative;
}

.home-our-services-list .our-services-item .animated {
    height: 100%;
}

.home-our-services-list .our-services-item .wapper {
    border-radius: 10px;
    padding: 98px 30px 20px;
    text-align: center;
    min-height: 100%;
    background: #fff;
    box-shadow: rgb(0 0 0 / 10%) 9px 8px 12px;
    position: relative;
    overflow: hidden;
}

.home-our-services-list .our-services-item .box-icon {
    margin: 0 auto;
    max-height: 81px;
    object-fit: cover;
}

.home-our-services-list .our-services-item .title {
    margin: 0;
    padding: 62px 0px 33px;
}

.home-our-services-list .our-services-item .title span {
    font-style: normal;
    font-weight: 400;
    font-size: 34.47px;
    line-height: 42px;
    color: #3FA9F5;

    letter-spacing: 0;
}

.home-our-services-list .our-services-item .hover {
    display: block;
    background: #0149AB;
    border-color: #0149AB;
    padding: 20px 20px 10px;
    position: absolute;
    top: 100%;
    opacity: 0;
    left: 0;
    right: 0;
    transition: all .3s;
    margin: 0 10px;
    overflow-y: hidden;

}

.home-our-services-list .our-services-item:hover .hover {
    top: 0;
    bottom: 0;
    width: auto;
    border-radius: 10px;
    display: block;
    opacity: 1;
    overflow-y: hidden;

}

.home-our-services-list .our-services-item .hover .title p {
    color: #fff;
    padding: 0 0 15px;
    font-size: 25px;
}

.home-our-services-list .our-services-item .hover .description p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0 0 15px;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.home-our-services-list .our-services-item .hover .button-link a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #1F9BEB;
    background: transparent;
    padding: 0;
    text-transform: inherit;
    position: relative;
    padding-right: 32px;
    letter-spacing: 0;
    border: 0;
    height: auto;
    width: auto;
    color: #FFCD06;
}

.home-our-services-list .our-services-item .hover .button-link a::after {
    content: '';
    background: url(../img/arr-icon-hover.png);
    width: 11px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 40%;
}

.home-our-services-list .our-services-item .hover .button-link a::before {
    content: 'Learn More';
}

/* ____home-our-services-listEND____ */

/* _____section-facts-figures_____ */
.section-home-page .section-facts-figures {
    padding: 5rem 0;
    text-align: center;
}

.section-home-page .section-facts-figures h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 64px;
    text-transform: capitalize;
    color: #183B56;
    margin: 0 0 24px 0;

}

.section-home-page .facts-figures-list {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 43px;
}

.section-home-page .facts-figures-list .facts-figures-item {
    padding-top: 61px;
    padding-bottom: 85px;
    border-right: 1px solid rgb(224 224 224 / 50%);
}

.section-home-page .facts-figures-list .facts-figures-item:last-child {
    border-right: none;
}

.section-home-page .facts-figures-list .facts-figures-item .totalNumber {
    height: 53px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    place-items: flex-start;
    margin-top: 32px;
}

.section-home-page .facts-figures-list .facts-figures-item .totalNumber h3,
.section-home-page .facts-figures-list .facts-figures-item .totalNumber h3 span {
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
    font-weight: 700;
    color: #183B56 !important;
    margin: 0 0 24px 0;
}

.section-home-page .facts-figures-list .facts-figures-item .description p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #183B56;
}

/* _____section-facts-figuresEND_____ */

/* ____section-home-features_____ */
.section-home-page .section-home-features {
    text-align: center;
    padding: 35px 0 0;
}

.section-home-page .section-home-features h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 71px;
    text-transform: capitalize;
    margin: 0;
    letter-spacing: 0;
    margin-bottom: 60px;
}

.section-home-page .section-home-features .latest-list .latest-items {
    /* position: relative; */
    margin-bottom: 40px;
}

/* .section-home-features .latest-list .latest-items .background-img {
    border-radius: 16px;
    position: relative;
    padding-bottom: 107.473%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.section-home-features .latest-list .latest-items .background-img::before {
    content: '';
    background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, #101921 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    top: 0;
    left: 0;
}

.section-home-features .latest-list .latest-items .background-img .description {
    position: absolute;
    bottom: 0;
    padding: 40px 32px 20px;
}

.section-home-features .latest-list .latest-items .background-img .description p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    letter-spacing: 0;
    position: static;
    text-decoration: none;
} */


.section-home-features .latest-list .latest-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}


.section-home-page .section-home-features .latest-list .latest-items .section-banner {
    position: relative;
    border-radius: 16px;
}

.section-home-page .section-home-features .latest-list .latest-items .banner-title {
    position: absolute;
    bottom: 0;
    padding: 40px 32px 20px;
    z-index: 1;
}

.section-home-page .section-home-features .latest-list .latest-items .banner-title span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    letter-spacing: 0;
    position: static;
    text-decoration: none;
}

.section-home-page .section-home-features .latest-list .latest-items .section-banner .top-banner .image {
    width: 100%;
    height: 410px;
}

.section-home-page .section-home-features .latest-list .latest-items .section-banner .top-banner::before {
    content: '';
    background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, #101921 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    top: 0;
    left: 0;
}

/* ____section-home-featuresEnd_____ */

/* ______home-home-insights_____ */
.home-home-insights {
    padding: 45px 0;
}

.section-home-page .home-home-insights .sub-heading {
    display: flex;
    margin-bottom: 14px;
}

.section-home-page .home-home-insights .sub-heading span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 145px;
    margin: 0 auto;
    border-radius: 100px;

    margin: 0;
    background: rgba(21, 101, 216, 0.1);
    color: #1565D8;
}

.section-home-page .home-home-insights h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 71px;
    text-transform: capitalize;
    margin: 0;
    letter-spacing: 0;
}

.section-home-page .home-home-insights .insights-items,
.section-home-page .home-home-insights .fist-item-insights {
    margin-bottom: 52px;
}

.section-home-page .home-home-insights .insights-items .wapper {
    background: #FFFFFF;
    box-shadow: 0px 17px 39px rgb(0 0 0 / 5%);
    border-radius: 20px;
    padding: 30px 38px;
    height: 100%;
    position: relative;
}

.section-home-page .home-home-insights .insights-items .wapper::before {
    width: 6px;
    background: #FFCD06;
    border-radius: 0px 5px 5px 0px;
    content: '';
    position: absolute;
    top: 14px;
    height: 113px;
    left: 0;
}

.section-home-page .home-home-insights .insights-items .box-icon {
    border: 2px solid #FFCD06;
    border-radius: 16px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-home-page .home-home-insights .insights-items .box-icon span {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-home-page .home-home-insights .insights-items .title {
    text-align: left;
    margin: 32px 0 16px;
}

.section-home-page .home-home-insights .insights-items .title span {

    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-transform: capitalize;
    color: #183b56;
}

.section-home-page .home-home-insights .insights-items .description p {
    font-style: normal;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    margin: 0;
    text-align: justify;
}

/* ______home-home-insightsEND_____ */

/* ____home-home-contact-us____ */
.section-home-page .home-home-contact-us .background-img {
    background-image: url(https://onextdigital.com/wp-content/uploads/2022/09/Frame-336.jpg);
    padding: 80px 0;
    position: relative;
}

.section-home-page .home-home-contact-us .contact-us-title {
    max-width: 631px;
    margin: 0 auto;
    text-align: center;
}

.section-home-page .home-home-contact-us .contact-us-title h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 71px;
    text-transform: capitalize;
    margin: 0;
    letter-spacing: 0;

    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.section-home-page .home-home-contact-us .contact-us-title .button-more a {
    max-width: none;
    width: auto;
    background: #FFCD06;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #183B56;
    text-transform: capitalize;
    height: 55px;
    padding: 15px 30px;

    border: 1px solid;
}

.section-home-page .home-home-contact-us .contact-us-title .button-more a:hover {
    background: transparent;
    border-color: #FFCD06;
    color: #FFCD06;
}

/* _____home-home-contact-us END____ */
@media screen and (max-width: 1440px) {

    .home-our-services h2,
    .section-home-page .section-facts-figures h2,
    .section-home-page .section-home-features h2,
    .section-home-page .home-home-insights h2,
    .section-home-page .home-home-contact-us .contact-us-title h2 {
        font-size: 36px;
        line-height: 61px;
    }

    .home-our-services .services-we-offer .sub-heading,
    .section-home-page .home-home-insights .sub-heading span {
        padding: 11px;
        font-size: 16px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .section-about-main .description p {
        font-size: 18px;
        line-height: 25px;
    }

    .section-about-main .sub-content-second {
        font-size: 22px;
    }

    .home-our-services h2,
    .section-home-page .section-facts-figures h2,
    .section-home-page .section-home-features h2,
    .section-home-page .home-home-insights h2,
    .section-home-page .home-home-contact-us .contact-us-title h2 {
        font-size: 36px;
        line-height: 60px;
    }

    .home-our-services-list .our-services-item .hover .title p {
        line-height: 37px;
    }

    .home-our-services-list .our-services-item .title sp {
        font-size: 30px;
        line-height: 37px;
    }

    .section-home-page .section-home-features .latest-list .latest-items .section-banner .top-banner .image {
        height: 250px;
    }
}

@media screen and (max-width: 1024px) {
    .home-our-services-list .our-services-item .title span {
        padding: 100px 0px 100px;
    }

    .home-our-services-list {
        height: auto;
    }
}

@media screen and (max-width: 990px) {


    .home-our-services-list .our-services-item .wapper {
        padding: 34px 10px 20px;
    }

    .home-our-services-list .our-services-item .title span {
        font-size: 25px;
    }

    .home-our-services-list .our-services-item .hover .daescription p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .section-home-page .section-home-features .latest-list .latest-items {
        max-width: 50%;
        flex: 0 0 50%;
    }


}

@media screen and (max-width: 767px) {
    .home-our-services .services-we-offer::after {
        width: calc(100% - 91px);
        height: 1px;
    }

    .section-home-page .section-home-features .latest-list .latest-items .banner-title {
        padding: 0px 0px 20px;
    }

    .section-about-main .sub-heading span,
    .home-our-services .services-we-offer .sub-heading span {
        display: inline-block;
        line-height: 36px;
        font-weight: 600;
        font-size: 14px;
        padding: 8px 16px;
        min-width: 0;
    }

    .section-about-main .description p {
        font-size: 14px;
        line-height: 19.7px;
        margin-bottom: 19px;
    }

    .section-about-main .sub-content-second {
        font-size: 16px;
        line-height: 25px;
        padding: 0 10px;
    }

    .home-our-services h2 {
        margin-bottom: 40px;
    }

    .home-our-services h2,
    .section-home-page .section-facts-figures h2,
    .section-home-page .section-home-features h2,
    .section-home-page .home-home-insights h2,
    .section-home-page .home-home-contact-us .contact-us-title h2 {
        font-size: 24px;
        line-height: 26px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .home-our-services-list .our-services-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home-our-services .description p {
        padding: 0 17px;
        font-size: 14px;
        line-height: 19.7px;
        margin-bottom: 19px;
    }

    .home-our-services-list .our-services-item .wapper {
        border-radius: 20px;
        padding: 29px 40px 20px;
    }

    .section-home-page .section-home-features .latest-list .latest-items {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .home-our-services-list .our-services-item .box-icon span img {
        max-height: 51px;
    }

    .home-our-services-list .our-services-item .title span {
        padding: 30px 0px 33px;
        font-size: 21px;
    }

    .section-home-page .facts-figures-list {
        justify-content: center;
    }

    .section-home-page .facts-figures-list .facts-figures-item {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .section-home-page .facts-figures-list .facts-figures-item:nth-child(2) {
        border-color: transparent;
    }

    .section-home-page .section-home-features .latest-list .latest-items .banner-title {
        text-align: left;
        margin: 6px 0 22px;
    }

    .home-home-insights {
        padding: 128px 0 29px;
    }

    .section-home-page .home-home-insights .sub-heading {
        justify-content: center;
    }

    .section-home-page .home-home-insights .insights-items,
    .section-home-page .home-home-insights .fist-item-insights {
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
    }

    .home-our-services .services-we-offer .sub-heading,
    .section-home-page .home-home-insights .sub-heading span {
        padding: 0px 24px;
        display: inline-block;
        line-height: 36px;
        font-weight: 600;
        font-size: 14px;
    }

    .section-home-page .home-home-insights .insights-items .title span {
        margin: 32px 0 16px;
        font-size: 18px;
        line-height: 24px;
    }

    .section-home-page .home-home-insights .insights-items .description p {
        font-size: 14px;
        line-height: 20px;
    }

    .section-home-page .home-home-contact-us .contact-us-title .button-more a {
        padding: 14px 65px;
        height: 48px;
        min-width: 0;
        font-size: 14px;
        line-height: 20px;
    }

    .section-home-page .facts-figures-list .facts-figures-item {
        padding-top: 45px;
        padding-bottom: 30px;
    }

    .section-home-page .facts-figures-list .facts-figures-item .box-icon img {
        max-width: 70px;
        max-height: 70px;
    }

    .section-home-page .facts-figures-list .facts-figures-item .title p {
        font-size: 32px;
        line-height: 35px;
        height: 35px;
        margin-top: 15px;
    }

    .section-home-page .facts-figures-list .facts-figures-item .description p {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 581px) {
    .home-our-services-list .our-services-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home-our-services-list .our-services-item .wapper {
        border: 2px solid #C3CDD6;
        border-radius: 20px;
        padding: 29px 40px 20px;
        min-height: 209px;
        box-shadow: rgb(0 0 0 / 25%) 1px 3px 12px;

    }

    .home-our-services-list .our-services-item {
        margin-bottom: 21px;
    }

    .home-our-services-list .our-services-item:hover .hover {
        width: 95.5%;
    }

    .section-home-page .facts-figures-list .facts-figures-item {
        max-width: 100%;
        flex: 0 0 100%;
        border-color: transparent;
        padding: 30px 0;
        position: relative;
    }

    .section-home-page .facts-figures-list .facts-figures-item .title {
        margin-top: 5px;
    }

    .section-home-page .facts-figures-list .facts-figures-item .description p {
        margin-top: 15px;
    }

    .section-home-page .section-home-features .latest-list .latest-items {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .section-about-main .description p,
    .section-about-main .sub-content-second,
    .home-our-services .description p {
        font-size: 14px;
    }

    /* 
    .home-our-services h2,
    .section-home-page .section-facts-figures h2,
    .section-home-page .home-home-insights h2,
    .section-home-page .home-home-contact-us .contact-us-title h2,
    .section-home-page .section-home-features h2 {
        font-size: 30px;
    } */

    /* .section-home-page .home-home-insights .insights-items .title p {
        font-size: 21px;
    } */

    /* .section-home-page .home-home-insights .insights-items .description p {
        font-size: 16px;
    } */
    .section-home-page .facts-figures-list .facts-figures-item:not(:last-child)::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 15px;
        right: 15px;
        border-bottom: 1px solid #E0E0E0;
    }
}

@media screen and (max-width: 480px) {

    .section-about-main .sub-heading span,
    .home-our-services .services-we-offer .sub-heading span {
        font-size: 14px;
        padding: 0px 16px;
        height: 36px;
        background: rgba(1, 73, 171, 0.1);
        border-radius: 57px;
        min-width: 0;
    }

    .home-our-services h2,
    .section-home-page .section-facts-figures h2,
    .section-home-page .section-home-features h2,
    .section-home-page .home-home-insights h2,
    .section-home-page .home-home-contact-us .contact-us-title h2 {
        font-size: 24px;
        line-height: 31px;
    }

    .home-our-services-list .our-services-item .title span {
        padding: 16px 0px 16px;
        font-size: 16px;
    }
}